<section class="w-full h-full">
  <h1 class="text-2xl font-extrabold text-center">Register</h1>
  <form>
    <div class="mt-10">
      <input
        type="text"
        id="email"
        placeholder="Email"
        class="w-full shadow-2xl rounded-sm p-2"
      />
    </div>

    <div class="mt-10">
      <input
        type="text"
        id="name"
        placeholder="Username complete"
        class="w-full shadow-2xl rounded-sm p-2"
      />
    </div>

    <div class="mt-10">
      <input
        type="text"
        id="password"
        placeholder="Password"
        class="w-full shadow-2xl rounded-sm p-2"
      />
    </div>

    <div class="mt-10">
      <input
        type="text"
        id="password"
        placeholder="confirm password"
        class="w-full shadow-2xl rounded-sm p-2"
      />
    </div>

    <button class="w-full mt-10 button-register rounded-sm p-2">
      Register
    </button>
  </form>
  <p
    class="text-center mt-6 underline font-light cursor-pointer"
    routerLink="/auth/login"
  >
    Ya tienes cuenta,
    <a class="font-extrabold">Login</a>.
  </p>
</section>
